*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button{
    width: 200px;
    font-size: 30px;
    font-weight: 900;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: #47b1ce;
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

button:active{
    scale: 0.95;
    background-color: #89b5c2;
    border: 5px solid black;
}

