*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    background-color: cadetblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#card{
    height: 500px;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 35px;
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

#card h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px 0px;
    font-size: 40px;
    font-weight: 900;
}

#card h5{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-weight: 500;
}

#btn{
    text-align: center;
    margin: 30px;
    transition: 1s ease;
}

#add{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: rgba(124, 185, 187, 0.786);
}

#add:active{
    scale: 0.95;
}