*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height:200px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#btn{
    font-size: 40px;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 50px;
    background-color: rgb(70, 61, 61);
    color: white;
    transition: 0.5s ease;
}

#btn:active{
    scale: 0.9;
}

