
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

button{
    height: 90px;
    width: 280px;
    border-radius: 20px;
    margin: 20px;
    font-size: 25px;
    border: 4px solid palevioletred;
}
#reset{
    width: 320px;
}

button:hover{
    background-color: rgb(210, 190, 197);
}

h1{
    color: antiquewhite;
    margin: 40px;
    padding: 10px;
    padding-left: 430px;
    font-size: 50px;
}




@media (max-width: 600px){

    button{
        height: 50px;
        width: 100px;
        font-size: 10px;
        margin-left: 1px;
    }

    #inc{
        margin-left: 5px;
    }

    #reset{
        height: 50px;
        width: 100px;
        font-size: 10px;
    }

    h1{
        padding-left: 130px;
    }

    button:hover{
    background-color: rgb(210, 190, 197);
    }

}