* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: whitesmoke;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    padding: 30px 50px;
    background-color: black;
    text-align: center;
    border-radius: 40px;
}

h1 {
    font-size: 100px;
    margin-top: 50px;
}